 <% extend('../layout/layout') %>
 
 
 <div style="width:50%;
  display: block;  
  margin-right: auto;  
  margin-left: auto;  ">
<form method="POST" action="/forgot/email">
    <div class="form-group">
            <label for="email">Enter Email</label>
            <input type="email" class="form-control" name="email"  placeholder="Enter Email">
    </div>
      <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>